body {
    margin: 0;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    text-align: center;
    color: #EEE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-container{
    
    width: 500px;
    margin: 0 auto;
    border: 8px solid black;
    border-radius: 10px;
    background-color: #1B244A;
    padding: 5px 10px 30px;
    margin: 50px auto;
}

.timer-container{
    padding: 10px 10px 0px;
}

.images{
    width: 100px;
    height: 75px;
}
.timer-container :nth-child(2) {
    background-color: white;
    color: red;
    font-size: 20px;
    font-weight: bold;
    width: 70px;
    height: 25px;
}

.home-guest-container {
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    
        
}

.score-box{
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 5px auto;
    padding-top: 10px;
    width: 60px;
    height: 40px;
    background-color: black;
    color: #F94F6D;
    font-size: 24px;
    font-weight: bold;
}

.btn{
    background-color: #1B244A;;
    color: #9AABD8;
    border: 1px solid #9AABD8;
    padding: 5px;
    margin: 5px 2px 1px;
    font-family: Cursed Timer ULiL;
    border-radius: 5px;
}

.timeKeeper{
    display: inline-block;
    padding-top: 20px;
}